force-app/main/default/flows/Hotel_List_Search.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Search_Hotel_Address_Action</name>
        <label>Search Hotel Address Action</label>
        <locationX>741</locationX>
        <locationY>547</locationY>
        <actionName>GetHotelAddrInfo</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Hotel_Results</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>state</name>
            <value>
                <elementReference>val_in_state</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_destination_state</name>
        <label>assign destination state</label>
        <locationX>745</locationX>
        <locationY>381</locationY>
        <assignmentItems>
            <assignToReference>val_in_state</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Destination_State.Destination_State__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Hotel_Address_Action</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Hotel_Results</name>
        <label>Assign Hotel Results</label>
        <locationX>734</locationX>
        <locationY>728</locationY>
        <assignmentItems>
            <assignToReference>hotelList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Search_Hotel_Address_Action</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hotel_List_Screen_Flow</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Hotel List Search {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Hotel List Search</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Destination_State</name>
        <label>Get Destination State</label>
        <locationX>746</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_destination_state</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Destination_State__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Travel_Approval__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Hotel_List_Screen_Flow</name>
        <label>Hotel List Screen Flow</label>
        <locationX>737</locationX>
        <locationY>845</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GetHotelListDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>hotel__x</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>hotelList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;htl_name__c&quot;,&quot;guid&quot;:&quot;column-7836&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;숙소명&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Htl_name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;addr__c&quot;,&quot;guid&quot;:&quot;column-d864&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;주소&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Addr&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>618</locationX>
        <locationY>17</locationY>
        <connector>
            <targetReference>Get_Destination_State</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>hotelList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>hotel__x</objectType>
    </variables>
    <variables>
        <name>val_in_state</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
